# Anthropic
ANTHROPIC_API_KEY=

# Development Configs
LITELLM_MASTER_KEY=sk-xxxxxxxx
DATABASE_URL=postgresql://llmproxy:dbpassword9090@db:5432/litellm
STORE_MODEL_IN_DB=True

# Litellm Proxy
VIRTUAL_KEY=

# Ollama
OLLAMA_API=http://host.docker.internal:11434
